body{
   background: rgb(226, 223, 223) ;
   margin: 0 auto ; 
   padding: 15%   10%   15% 30% ;
   
}

#outbox{
background:white ;
width:50%  ;
padding:  10px  10px  1px 10px;
border-radius: 5px ;
}
#outbox::after{
   content: "";
   clear: both;
   display: table;
}

#inbox {
   background: rgb(226, 223, 223);
   width:100% ;
   border-radius: 7px ;
}

​#inbox::after{
       content: "";
       clear: both;
       display: table;
    }
input{
       width:82%;
       background:rgb(226, 223, 223);
       border: none;
       outline: none;
       padding: 5px ;
       text-align: left;
       font-size: 24px; }
 
ul{
   list-style-type:none;
   text-align: left;
   padding: 3px;
}
svg {
   margin-top: 9px;
   padding-right: 5px;
  
} 
 #span{
       text-align: left; 
       font-size: 24px; 
       color:black;
   }
​
#ss{
   margin-left: 5px;
   float: left;
   margin-top: 1px; }
#s0{
float: left;
margin:  0px  2px 3px 2px ; }
#sx{
float: right;
margin:1px 2px; }
#pup{
   margin: 0px  7px;  }
span{
   padding-top: 5px;
   text-decoration: none;
   color: rgb(202, 199, 199);}
hr {
   border: 1px solid rgb(226, 223, 223); }
span:hover{
   color: black; }
#pdown{
padding-left: 10px;  }
#a1{
   float: left;
   padding:0px 9px ; }
#a2{
   float: right;
   padding:0px 9px ; }
#a3{
   float: right;
   padding:0px 9px ; }
#a4{
   float: right;
   padding:0px 9px ;  }
#au1{
   float: left;
   padding-top: 5px;  }
#au2{
   float: right;
   padding-top: 5px; }
#pup::after{
   content: "";
   clear: both;
   display: table;}
#ulli::after{
   content: "";
   clear: both;
   display: table;
}
/* #pup  , #ulli, #pdown{
cursor: pointer;
 content: "";
clear: both;
display: table;
background: rgb(226, 223, 223);
visibility:hidden;
} */
