body{
   background: rgb(226, 223, 223) ;
   margin: 0 auto ;
   padding: 15%   ;
   text-align: center ;
}
#outbox{
background:white ;
width:50%  ;
padding:  7px  3px ;
border-radius: 5px ;
}
#inbox {
   background: rgb(226, 223, 223);
   width:95% ;
   margin: 0 auto ;
   border-radius: 7px ;
}
input[type="text"] {
   width:82%;
   background:rgb(226, 223, 223);
   border: none;
outline: none;
padding: 5px ;
text-align: left;
font-size: 24px;
}
ul{
   list-style-type:none;
}
