body{
   background: rgb(226, 223, 223) ;
   margin: 0 auto ; 
   padding: 15%   10%   15% 30% ;
   
}

.outbox{
background:white ;
width:50%  ;
padding:1%;
border-radius: 5px ;
}
.outbox::after{
   content: "";
   clear: both;
   display: table;
}

.inbox {
   background: rgb(226, 223, 223);
   width:100% ;
   border-radius: 7px ;
}
/* #op{
   position: absolute;
    margin-top: 8px;
    margin-left: -20px;

} */
​.inbox::after{
       content: "";
       clear: both;
       display: table;
    }

input{
       width:82%;
       background:rgb(226, 223, 223);
       border: none;
       outline: none;
       padding: 5px ;
       text-align: left;
       font-size: 24px; }
 
ul{
   list-style-type:none;
   text-align: left;
   padding: 3px;
}
svg {
   margin-top: 9px;
   padding-right: 5px;
  
} 
img{
   margin-top: 9px;
   padding-right: 5px;
}
span{
   padding-top: 5px;
   text-decoration: none;
   color: rgb(202, 199, 199);}

 #span{
       text-align: left; 
       font-size: 24px; 
       color:black;
   }
hr {
   border: 1px solid rgb(226, 223, 223); }
span:hover{
   color: black; }
  
.text-up{
   margin: 0px  7px;  }

.text-up::after{
   content: "";
   clear: both;
   display: table;}

.text-down{
padding-left: 10px;  }

 .Complete-all{
   float: left;
   padding-top: 5px;  }

   .Clear-Completed{
   float: right;
   padding-top: 5px; }​

   .tasks-left{
   float: left;
   padding:0px 9px ; }

   .Completed,.Uncomplete,.All{
   float: right;
   padding:0px 9px ; }

   .icon-right{
   margin-left: 5px;
   float: left;
   margin-top: 1px; }

.ul-li::after{
   content: "";
   clear: both;
   display: table;
}
.icon-empty{
float: left;
margin:  0px  2px 3px 2px ; }

.icon-x{
float: right;
margin:1px 2px; }

.icon-add{
   position: absolute;
   top:105px;
   right: 23;
   
}
.icon1right{
   float: left;
margin:  0px  2px 3px 2px ; 
}
